// @font-face {
//     font-family: 'Lato';
//     src: url('../../../fonts/Lato-Regular.ttf');
// }
body {
    font-family: 'Lato';
    font-weight: 400;
    line-height: 1.7;
    color: $color-dark-grey;
}

.header-primary {
    color: $color-white;
    text-transform: uppercase;
    margin-bottom: 6rem;
    backface-visibility: hidden;
    // text-align: right;
    &--main {
        display: block;
        font-size: 5rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        animation-name: moveInLeft;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        @include respond(phone) {
            font-size: 4rem;
            letter-spacing: 2.5rem;
        }
    }
    &--sub {
        display: block;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 1.5rem;
        animation: moveInRight 1s ease-out;
        @include respond(phone) {
            font-size: 1rem;
            letter-spacing: 1rem;
        }
    }
}

.header-secondary {
    font-size: 3.5rem;
    font-weight: 700;
    letter-spacing: .2rem;
    text-transform: uppercase;
    display: inline-block;
    background-image: linear-gradient(to right, $color-primary, $color-primary-dark);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    transition: all .2s;
    @include respond(tab-land){
        font-size: 3rem;
    }
    @include respond(tab-port){
        font-size: 2.5rem;
    }
    @include respond(phone){
        font-size: 2rem;
    }
    &:hover {
        transform: skewY(2deg);
        text-shadow: .5rem 1rem 2rem rgba($color-black, .2);
    }
}

.header-tertiary {
    font-size: 1.6rem;
    font-weight: 700;
    text-transform: uppercase;
}

.paragraph {
    font-size: 1.6rem;
    &:not(:last-child) {
        margin-bottom: 3rem;
    }
}